body {
    font-family: monospace;
}
ul {
    font-family: helvetica;
}
li {
    list-style: circle;
} 
.list {
    list-style: square;
} 
:root {
    --blue: #c9daf8;
    --white: #ffffff;
    --black: #000000;
}
* {
    color: var(--fontColor);
    font-family: helvetica;
}
body {
      background: var(--bg);
}
.light-theme {
    --bg: var(--blue);
    --fontColor: var(--black);
}
.dark-theme {
    --bg: var(--black);
    --fontColor: var(--blue);
}
.btn {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}
.btn:focus { outline-style: none; }
.btn2 {
    top: 20px;
    left: 250px;
    height: 50px;
    width: 100px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}
.btn2:focus { outline-style: none; }
.newListEntry {
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}
